.DS_Store
data/raw/*
!data/raw/.gitkeep
!data/raw/Zillow/
!data/raw/Zillow/.gitkeep
!data/raw/FHFA/
!data/raw/FHFA/.gitkeep
!data/raw/ACS/
!data/raw/ACS/.gitkeep
!data/raw/FRED/
!data/raw/FRED/.gitkeep
!data/raw/BLS/
!data/raw/BLS/.gitkeep
data/processed/*
!data/processed/.gitkeep
!data/processed/Zillow/
!data/processed/Zillow/.gitkeep
!data/processed/FHFA/
!data/processed/FHFA/.gitkeep
!data/processed/ACS/
!data/processed/ACS/.gitkeep
!data/processed/FRED/
!data/processed/FRED/.gitkeep
!data/processed/BLS/
!data/processed/BLS/.gitkeep

